[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yaxil = "*"
sync-xnat = {editable = true,path = "."}

[dev-packages]
vcrpy = "*"

[requires]
python_version = "3.8"
